<config>
    <modules>
        <Vt_Simple>
            <version>0.1.0</version>
        </Vt_Simple>
    </modules>
    <frontend>
        <routers>
            <vt_simple>
                <use>standard</use>
                <args>
                    <module>Vt_Simple</module>
                    <frontName>vt-simple</frontName>
                </args>
            </vt_simple>
        </routers>
    </frontend>
</config>