<?xml version="1.0"?>
<config>
    <modules>
        <Boolfly_Checkout>
            <version>0.3.0</version>
        </Boolfly_Checkout>
    </modules>
    <global>
        <blocks>
            <boolfly_checkout>
                <class>Boolfly_Checkout_Block</class>
            </boolfly_checkout>
            <checkout>
                <rewrite>
                    <onepage>Boolfly_Checkout_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <boolfly_checkout>
                <class>Boolfly_Checkout_Helper</class>
            </boolfly_checkout>
        </helpers>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>Boolfly_Checkout_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <boolfly_checkout>
                <class>Boolfly_Checkout_Model</class>
                <resourceModel>boolfly_checkout_resource</resourceModel>
            </boolfly_checkout>
            <boolfly_checkout_resource>
                <class>Boolfly_Checkout_Model_Resource</class>
                <entities>
                    <comment>
                        <table>boolfly_billing_comment</table>
                    </comment>
                </entities>
            </boolfly_checkout_resource>
        </models>
        <resources>
            <boolfly_checkout_setup>
                <setup>
                    <module>Boolfly_Checkout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </boolfly_checkout_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <boolfly_checkout>
                        <class>boolfly_checkout/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </boolfly_checkout>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <boolfly_checkout>
                <use>standard</use>
                <args>
                    <module>Boolfly_Checkout</module>
                    <frontName>addStepCheckout</frontName>
                </args>
            </boolfly_checkout>
            <checkout>
                <args>
                    <modules>
                        <boolfly_checkout before="Mage_Checkout">Boolfly_Checkout</boolfly_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <boolfly_checkout>
                    <file>boolfly/checkout/onepage.xml</file>
                </boolfly_checkout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <boolfly_checkout>
                    <file>boolfly_checkout.xml</file>
                </boolfly_checkout>
            </updates>
        </layout>
    </adminhtml>
</config>