<?xml version="1.0"?>
<config>
    <modules>
        <Etechfly_Attributes>
            <version>0.1.0</version>
        </Etechfly_Attributes>
    </modules>
    <global>
        <resources>
            <etechfly_attributes_setup>
                <setup>
                    <module>Etechfly_Attributes</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </etechfly_attributes_setup>
        </resources>
    </global>
</config>