<config>
    <modules>
        <Etechfly_Newsletter>
            <version>0.1.0</version>
        </Etechfly_Newsletter>
    </modules>
    <frontend>
        <routers>
            <etechfly_subscriber>
                <use>standard</use>
                <args>
                    <module>Etechfly_Newsletter</module>
                    <frontName>newsletter</frontName>
                </args>
            </etechfly_subscriber>
        </routers>
    </frontend>
</config>