<?xml version="1.0"?>
<config>
    <modules>
        <Boolfly_Brand>
            <version>0.2.0</version>
        </Boolfly_Brand>
    </modules>
    <global>
        <helpers>
            <boolfly_brand>
                <class>Boolfly_Brand_Helper</class>
            </boolfly_brand>
        </helpers>
        <models>
            <boolfly_brand>
                <class>Boolfly_Brand_Model</class>
                <resourceModel>boolfly_brand_resource</resourceModel>
            </boolfly_brand>
            <boolfly_brand_resource>
                <class>Boolfly_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>boolfly_brand_user</table>
                    </brand>
                </entities>
            </boolfly_brand_resource>
        </models>
        <resources>
            <boolfly_brand_setup>
                <setup>
                    <module>Boolfly_Brand</module>
                </setup>
            </boolfly_brand_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <boolfly_brand>
                <use>standard</use>
                <args>
                    <module>Boolfly_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </boolfly_brand>
        </routers>
    </frontend>
</config>