<config>
    <modules>
        <Etechfly_Cms>
            <version>0.1.0</version>
        </Etechfly_Cms>
    </modules>
    <global>
        <models>
            <etechfly_cms>
                <class>Etechfly_Cms_Model</class>
            </etechfly_cms>
        </models>
        <resources>
            <etechfly_cms_setup>
                <setup>
                    <module>Etechfly_Cms</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </etechfly_cms_setup>
        </resources>
    </global>
</config>