<?xml version="1.0"?>
<config>
    <modules>
        <Boolfly_Newsletter>
            <version>0.1.0</version>
        </Boolfly_Newsletter>
    </modules>
    <global>
        <models>
            <boolfly_newsletter>
                <class>Boolfly_Newsletter_Model</class>
            </boolfly_newsletter>
        </models>
        <helpers>
            <boolfly_newsletter>
                <class>Boolfly_Newsletter_Helper</class>
            </boolfly_newsletter>
        </helpers>
        <resources>
            <boolfly_newsletter_setup>
                <setup>
                    <module>Boolfly_Newsletter</module>
                </setup>
            </boolfly_newsletter_setup>
        </resources>
        <blocks>
            <boolfly_newsletter>
                <class>Boolfly_Newsletter_Block</class>
            </boolfly_newsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Boolfly_Newsletter_Block_Adminhtml_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <boolfly_newsletter>
                        <type>model</type>
                        <class>boolfly_newsletter/observer</class>
                        <method>newsletterSubscriberSaveBefore</method>
                    </boolfly_newsletter>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <boolfly_newsletter before="Mage_Newsletter">Boolfly_Newsletter</boolfly_newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
</config>